@font-face {
  font-family: 'SorenaPixel';
  src: url('/About-Antoush/fonts/Sorena-Pixel.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VCRosdNEUE';
  src: url('/About-Antoush/fonts/VCRosdNEUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "VCRosdNEUE", "VCR", monospace !important;
}

pre,
code {
  font-family: "VCRosdNEUE", "VCR", monospace !important;
  font-weight: 100;
}

.font-pixel {
  font-family: 'SorenaPixel', sans-serif !important;
}

::selection {
  background: #fff;
  color: #000;
}

::-moz-selection {
  background: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

img,
.no-selection {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.hero-bg {
  z-index: -1;
  width: 100vw;
  word-wrap: break-word;
  opacity: 0.02;
  font-size: 3rem;
  user-select: none;
}